---
import webimage1 from "../../images/webimage1.png"
import { Image } from 'astro:assets';
---
<div class="w-full h-[470px] mt-[150px] flex items-center justify-center">
<div class="w-[60%] h-full">
    <h1 class="text-left ml-[50px] text-[50px] w-[80%] text-white font-bold">Easily find your Favorite AI's</h1>
    <p class="text-left ml-[50px] text-[18px] font-normal w-[70%] mt-[20px]">
        Easily find you favorite AI's trough your AI Portal and you can even check our AI Library! Give it a check!
    </p>
    <p class="text-left ml-[50px] text-[18px] font-normal w-[70%] mt-[20px]">
        Easily find you favorite AI's trough your AI Portal and you can even check our AI Library! Give it a check!
    </p>
    <div class="w-[60%] h-[70px] ml-[50px] mt-[50px] flex items-center">
        <button class="w-[170px] h-[60px] rounded-md bg-[#F2AFEF] text-white ">
            View Library
        </button>
        <button class="w-[170px] h-[60px] ml-[30px] rounded-md border-2 border-[#F2AFEF] text-[#F2AFEF]">
            Shop AI
        </button>
    </div>
</div>
<div class="w-[40%] h-full">
    <Image src={webimage1} alt="cat in front of moon" class="w-[90%] h-[90%]" />
</div>
</div>