---
import webimage3 from "../../images/webimage3.png"
import { Image } from 'astro:assets';
---


<div class="w-full h-[1000px] mt-[100px]">
    <!-- make text bellow like liked shot -->
    
    <div class=" ml-[5%] md:w-[90%] h-[230px] mt-[50px]">
       <h1 class="text-center text-[85px] font-bold ml-[-200px]">Think different</h1>
       <h1 class="text-center text-[85px] font-bold ml-[300px]">Sell Your Ai's</h1>
    </div>
    <div class="w-full h-[450px] md:mt-[50px] flex items-center justify-center">
        <div class="h-full w-full md:w-[40%] ml-[0px] flex items-center justify-center">
            
            <Image src={webimage3} alt="AI Assistant image" class="w-[90%] h-[90%]" />
        </div>
        
    </div>
    
</div>