---
import icon4 from "../../images/icon4.png"
import icon5 from "../../images/icon5.png"
import icon6 from "../../images/icon6.png"

import { Image } from 'astro:assets';
---

<div class="w-full h-[600px] md:h-[400px] mt-[30px] md:mt-[150px]">
    <h1 class="text-center mt-[30px] text-[45px] font-bold">Do more With AI</h1>
    <div class="w-[90%] md:w-[80%] h-[500px] md:h-[300px] md:ml-[10%] md:mt-[20px]  rounded-xl flex items-center justify-center">
    <div class="w-[33%] h-full"> 
        <div class="w-full h-[70px] mt-[60px] flex items-center justify-center">
            <Image src={icon4} alt="timer icon" class="w-[80px] h-[70px]"/>
        </div>
        <h1 class="text-center text-[24px] font-bold mt-[15px] text-white">Automatic Scheduling</h1>
        <p class="text-center text-[16px] font-normal mt-[10px] text-white md:w-[80%] md:ml-[35px]">Quit worrying about your schdule. Just list your plans for the week or month and Bonni will do the rest.</p>
    </div>
    <div class="w-[33%] h-full"> 
        <div class="w-full h-[70px]  mt-[60px] flex items-center justify-center">
            <Image src={icon5} alt="timer icon" class="w-[80px] h-[70px]"/>
        </div>
        <h1 class="text-center text-[24px] font-bold mt-[15px] text-white">Music Buddy</h1>
        <p class="text-center text-[16px] font-normal mt-[10px] text-white md:w-[80%] md:ml-[35px]">Connect your favorite musci service and Bonni will make your own playlists.</p>
    
    </div>
    <div class="w-[33%] h-full"> 
        <div class="w-full h-[70px]  mt-[60px] flex items-center justify-center">
            <Image src={icon6} alt="timer icon" class="w-[80px] h-[70px]"/>
        </div>
        <h1 class="text-center text-[24px] font-bold mt-[15px] text-white">Social Media Manager</h1>
        <p class="text-center text-[16px] font-normal mt-[10px] text-white md:w-[80%] md:ml-[35px]">Quit worrying about your socials. Bonni will give you stats you can use for growth.</p>
       
    </div>
    </div>


</div>