---
import webheader1 from "../../images/webheader1.png"
import { Image } from 'astro:assets';
import '@fontsource/kanit/600.css';
import '@fontsource-variable/quicksand';
---


<!-- This is the Header of the page. -->
<!-- Anything in this site can be changed including titles, colors and even text size if you want the challange ;) -->

<!-- Layout Done! -->

<div
    class="w-full mt-0 md:mt-[0px]"
>
    <div
     class="w-full h-[800px] md:h-[550px] md:flex md:items-center md:justify-center ml-[35px] md:ml-0"
    >
        <div
        class="w-full h-[40%] md:w-[50%] md:h-full"
        >
            <h1 class="text-left font1 ml-[30px] md:ml-[50px] text-[50px] md:text-[70px] text-white w-[70%] md:w-[90%] mt-[-10px] md:mt-[40px]">
            Work Smarter With Bonni
            </h1>
            <p class="invisible md:visible mt-[20px] md:mt-[30px] text-left ml-[30px] md:ml-[50px] text-[18px] md:text-[23px] text-white w-[80%] md:w-[85%]">
            The only app in the market where it helps you communicate quick and easy trough an app at work.
             it helps you communicate quick and easy trough an app at work.
            </p>
            <div class=" invisible md:visible w-full h-[50px] md:h-[60px] mt-[30px] md:mt-[50px] flex items-left justify-left">
            <button class="w-[150px] h-[50px] bg-[#C499F3] hover:bg-indigo-500 rounded-full text-white ml-[30px] md:ml-[50px] mt-[5px]">Get The App</button> 
            <button class="w-[150px] h-[50px] border-2 border-[#C499F3] hover:border-indigo-500 rounded-full text-white hover:text-indigo-500 ml-[30px] mt-[5px]">About Bonni</button> 

        </div>
    </div>
    <div
     class="w-full h-[60%] md:w-[50%] md:h-full"
    >
        <Image
            src={webheader1}
            alt="header image"
            class="w-[90%] h-[400px] md:h-[550px] mt-[-150px] ml-[100px] md:ml-[60px] md:mt-[40px]"
         />
        <p
        class="visible md:invisible mt-[20px] md:mt-[30px] text-left ml-[30px] md:ml-[50px] text-[18px] md:text-[23px] text-white w-[90%]"
        >
            The only app in the market where it helps you communicate quick and easy trough an app at work.
             it helps you communicate quick and easy trough an app at work.
        </p>

        <div 
        class="visible md:invisible w-full h-[50px] md:h-[60px] mt-[30px] md:mt-[50px] flex items-left justify-left"
        >
            <button class="w-[150px] h-[50px] bg-[#C499F3] rounded-full text-white ml-[30px] md:ml-[50px] mt-[5px]">Get The App</button> 
            <button class="w-[150px] h-[50px] border-2 border-[#C499F3] rounded-full text-white ml-[30px] mt-[5px]">About Bonni</button> 
        </div>

    </div>
</div>


<style>
    h1 {
       font-family: "Kanit", sans-serif;
    }

    p {
        font-family: 'Quicksand Variable', sans-serif;
    }
   </style>
   