

<div class="w-full h-[250px] lg:flex lg:items-center lg:justify-center ml-[40px] md:ml-0 mt-[50px]">
    <img src="https://i.imgur.com/1KxKR6i.png" alt="NovaForge Design Logo" class="w-[80px] h-[80px] ml-[40%] md:ml-20"/>
    <h1 class="text-[30px] font-semibold ml-[10px] text-center">
        <span class="text-white">Designed by</span>
        <span class="text-orange-400">NovaForge Design</span>
    </h1>
</div>