---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/global/Navigation.astro'
import Footer from '../components/global/Footer.astro'
import Hero from '../components/landing/Hero.astro'
import CardHero from '../components/landing/CardHero.astro'
import Hero2 from '../components/landing/Hero2.astro'
import Hero3 from '../components/landing/Hero3.astro'
import Hero4 from '../components/landing/Hero4.astro'
import Hero5 from '../components/landing/Hero5.astro'
import Hero6 from '../components/landing/Hero6.astro'



---

<Layout title="Web Template1 ">
	<Navigation />
	<main class="container text-white">
	<Hero/>
	<CardHero />
	<Hero2 />
	<Hero3 />
	<!-- <Hero4 /> -->
	<Hero5 />
	<Hero6 />
	</main>
	<Footer />
</Layout>




<!-- add fonts if possible    DONEEEEEE -->
<!-- make mobile version functioning DONEEEEEEEEE  -->
<!-- make code readable DOOOOOONEEEE and find way to make items from cards come from a data file including the image ex: src="https... DONNEEEEEE" -->
<!-- start taking images and videos for marketing -->
<!-- post and start working on selling one. -->